@inject IViewLocalizer Localizer

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/content/site.css" />

    <title>@ViewBag.Title</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <!-- Navbar section -->
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" id="main-nav">
        <div class="container">
            <a asp-controller="Home" asp-area="" asp-action="Index" class="navbar-brand">BroadSend</a> |
            @if (SignInManager.IsSignedIn(User))
            {
                <partial name="_LoginPartial" />
            }
            else
            {
                <ul class="navbar-nav">
                    <li class="navbar-item">
                        <a href="#contactModal" class="nav-link" data-toggle="modal">Регистрация</a>
                    </li>
                </ul>
            }
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item">
                        <a href="#home" class="nav-link scroll">В начало</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#programs-section-head" class="nav-link scroll">Программы</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#persons-section-head" class="nav-link scroll">Персоналии</a>
                    </li>
                    <li class="navbar-item">
                        <a href="#geo-section-head" class="nav-link scroll">География</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Home Section-->

    <header id="home-section">
        <div class="dark-overlay">
            <div class="home-inner container">
                <div class="row">
                    <div class="col-lg-8 d-none d-lg-block">
                        <h1 class="display-4">
                            Подготовка обязательного экземпляра аудио-визуальной продукции
                        </h1>
                        <div class="d-flex pt-4">
                            <div class="p-3 align-self-start">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="p-4 mb-2 align-self-end">
                                Обыкновенные люди, создающие уникальные программы
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="p-3 align-self-start">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="p-4 mb-2 align-self-end">
                                Записи программ для передачи в Гостелерадиофонд
                            </div>
                        </div>

                        <div class="d-flex">
                            <div class="p-3 align-self-start">
                                <i class="fas fa-check"></i>
                            </div>
                            <div class="p-4 mb-2 align-self-end">
                                Быстрый поиск - полный контроль
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4">
                        <div class="card text-center card-form">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- PROGRAMS SECTION HEAD-->

    <section id="programs-section-head" class="py-4">
        <div class="container">
            <div class="col text-center py-4">
                <h1 class="display-4">Программы</h1>
            </div>
            <div class="col text-center">
                <p class="lead mb-4">
                    Политика, спорт, общественная жизнь, история, музыка, современный мир цифровых
                    технологий - передачи на любой вкус для самых взыскательных слушателей
                </p>
            </div>
        </div>
    </section>

    <!-- PROGRAMS SECTION -->

    <section id="programs-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/black-headset-on-condenser-microphone-3587478_resize.jpg" alt=""
                         class="img-fluid md-3 rounded-circle">
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">Делимся мнениями, обсуждаем насущные проблемы, изучаем факты</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">Наслаждаемся приятной атмосферой творческих эфиров</p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Title" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Производители</strong> - открытость к плодотворному
                                сотрудничеству
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Vendor" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- PERSON SECTION HEAD-->

    <section id="persons-section-head" class="py-4">
        <div class="container">
            <div class="col text-center py-4">
                <h1 class="display-4">Персоналии</h1>
            </div>
            <div class="col text-center">
                <p class="lead mb-4">
                    Всегда актуальная информация, злободневные темы, истории из нашей жизни, интервью с
                    замечательными людьми, неординарными личностями, политиками, общественными деятелями - все
                    это благодаря людям, увлеченным своим делом
                </p>
            </div>
        </div>
    </section>

    <!-- PERSON SECTION-->

    <section id="persons-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/group-of-people-having-fun-together-under-the-sun-708392.jpg" alt=""
                         class="img-fluid md-3 rounded-circle" />
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Авторы и ведущие программ</strong> - люди, создающие
                                уникальный контент и незабываемую атмосферу
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Presenter" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Звукорежиссеры</strong> - непрекращающаяся забота о качестве
                                эфира
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Director" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Композиторы</strong> - эмоции и вдохновение, выраженные в
                                музыке
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Composer" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--GEO SECTION HEAD-->

    <section id="geo-section-head" class="py-4">
        <div class="container">
            <div class="col text-center py-4">
                <h1 class="display-4">География</h1>
            </div>
            <div class="col text-center">
                <p class="lead mb-4">
                    Вещание без границ - информированность, открытость новым идеям, объединение
                    единомышленников без языковых преград
                </p>
            </div>
        </div>
    </section>

    <!-- GEO SECTION-->

    <section id="geo-section" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/images/person-tossing-globe-1275393.jpg" alt=""
                         class="img-fluid md-3 rounded-circle" />
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Языки вещания</strong> - разрушение языковых барьеров на пути
                                к актуальной информации о нашей жизни
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Language" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="p-4 align-self-start">
                            <i class="fas fa-check fa-2x"></i>
                        </div>
                        <div class="p-2 align-self-end">
                            <p class="lead">
                                <strong>Страны вещания</strong> - география слушателя не имеет
                                значения, актуальная информация для слушателя - вот, что по-настоящему важно
                            </p>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a asp-area="" asp-controller="Country" asp-action="Index" class="btn btn-outline-secondary">Перейти к заполнению раздела</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- FOOTER -->

    <footer id="main-footer" class="bg-dark">
        <div class="container">
            <div class="row">
                <div class="col text-center py-2">
                    <h5>BroadSend, Copyright &copy; <span id="year"></span></h5>
                </div>
            </div>
        </div>
    </footer>

    <!-- CONTACT MODAL-->

    <div class="modal fade text-dark" id="contactModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Запрос на получение учетных данных</h5>
                    <button class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Ваше имя <span class="required-field">*</span></label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="email">Email <span class="required-field">*</span></label>
                            <input type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="message">Сообщение</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div>
                            <p>
                                <span class="required-field">*</span> - поля, обязательные для
                                заполнения
                            </p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-block">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/all.min.js"></script>

    <script>
        $("#year").text(new Date().getFullYear());
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>