@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model Language

<div class="form-group">
    <label asp-for="Name">@SharedLocalizer["TableHeaderTitle"]</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    
    <input type="hidden" asp-for="Id"/>

</div>

<div style="margin: 50px 0">
    <button type="submit" class="btn btn-primary">@SharedLocalizer["ButtonSave"]</button>
    <a asp-controller="Language" asp-action="Index" class="btn btn-secondary">@SharedLocalizer["ButtonBackToList"]</a>
</div>