@inject IViewLocalizer Localizer

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="windows-1251" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/content/site.css" />

    <title>@ViewBag.Title</title>
</head>

<body data-spy="scroll" data-target="#main-nav" id="home">

    <!-- Navbar section -->
    <partial name="_NavBar" />

    <!-- Main Section-->

    <header id="main-section" class="font-weight-light">
        <div class="container">
            @RenderBody()
        </div>
    </header>




    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script type="text/javascript" src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/regular.min.js"></script>
    <script type="text/javascript" src="~/lib/font-awesome/js/solid.min.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>