@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model ISimpleItem

<partial name="_EditItem" />

@if (ViewBag.ErrorMessage != string.Empty)
{
    <partial name="_ErrorMessage" />
}
else
{
    <div>
        <form asp-action="Edit">

            <div class="form-group">
                <label asp-for="Name">@SharedLocalizer[@ViewData["TabHeader"].ToString()]</label>
                <input asp-for="Name" class="form-control" />
                <div class="validation-message">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Id" />
            </div>

            <div style="margin: 50px 0">
                <button type="submit" class="btn btn-outline-secondary">@SharedLocalizer["ButtonSave"]</button>
                <a asp-action="Index" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
            </div>
        </form>
    </div>
}