@model EditUserViewModel

<partial name="_AdminTitle" />

<partial name="_UserManagementTitle" />

<partial name="_EditItem" />

@if (ViewBag.Message != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.Message</h3>
}
<div style="width: 50%">
    <form asp-area="Admin" asp-controller="Home" asp-action="EditUser">

        <partial name="_EditUserCard" />

    </form>
</div>