@model IEnumerable<IdentityRole>

<h1>Управление ролями пользователей</h1>

<div>
    <a class="btn btn-success" asp-action="AddRole" style="margin: 50px 0px">Добавить</a>
</div>

<div style="height: 500px; width: auto; margin-right: 250px; overflow: auto;">

    <table class="table">
        <thead class="thead-light text-left">
        <tr>
            <th>Роль</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (IdentityRole identityRole in Model)
        {
            <tr>
                <td>@identityRole.Name</td>
                <td>
                    <input type="hidden" asp-for="@identityRole.Id"/>
                    <a asp-area="Admin" asp-controller="Home" asp-action="EditRole" asp-route-roleId="@identityRole.Id">Редактировать</a> |
                    <a asp-area="Admin" asp-controller="Home" asp-action="DeleteRole" asp-route-roleId="@identityRole.Id">Удалить</a>
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>