@model Composer

<partial name="_ComposerTitle"/>

<partial name="_CreateItem" />

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
}

<div style="width: 50%">
    <form asp-controller="Composer" asp-action="Create">

        <partial name="_ComposerCard" />

    </form>
</div>