<partial name="_CountryTitle"/>

<partial name="_EditItem"/>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <partial name="_ErrorMessage"/>
}
else
{
    <div style="width: 50%">
        <form asp-controller="Country" asp-action="Edit">

            <partial name="_CountryCard"/>

        </form>
    </div>
}