@model Language

<partial name="_LanguageTitle" />

<partial name="_EditItem"/>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
}
<div style="width: 50%">
    <form asp-controller="Language" asp-action="Edit">

        <partial name="_LanguageCard" />

    </form>
</div>
