<partial name="_DirectorTitle" />

<partial name="_CreateItem" />

@if (ViewBag.ErrorMessage != string.Empty)
{
    <partial name="_ErrorMessage" />
}
else
{
    <div>
        <form asp-controller="Director" asp-action="Create">

            <partial name="_DirectorCard" />

        </form>
    </div>
}