@inject IHtmlLocalizer<SharedResource> SharedLocalizer

<partial name="_DirectorTitle" />

<h3 style="margin: 0 0 50px">@SharedLocalizer["HeaderAddNewItem"]</h3>

@if (ViewBag.ErrorMessage != string.Empty)
{
    <h3 class="alert-danger">@ViewBag.ErrorMessage</h3>
}

<div style="width: 50%">
    <form asp-controller="Director" asp-action="Create">

        <partial name="_DirectorCard" />

    </form>
</div>