@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@model Director

<partial name="_DirectorTitle" />

@if (ViewBag.ErrorMessage != string.Empty)
{
    <partial name="_ErrorMessage" />
}
else
{
    <partial name="_DeleteItem" />

    <div>
        <div class="alert alert-dark">
            <h4>@Model.Alias</h4>
            <h6>@Model.Name</h6>
        </div>

        <form asp-action="Delete" style="margin: 20px 0">
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Alias" />
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-outline-danger"><i class="fa fa-times"></i>&nbsp; @SharedLocalizer["ButtonDelete"]</button>
            <a asp-action="Index" class="btn btn-outline-secondary">@SharedLocalizer["ButtonBackToList"]</a>
        </form>
    </div>
}